/* General styling */
body {
    font-family: 'Roboto', sans-serif;
    color: #4a90e2;
  }
  
  /* Streamlit elements */
  .stApp {
    background-color: #ffffff;
  }
  
  /* Header and markdown elements */
  h1, h2, h3, h4, h5, h6 {
    color: #323248;
  }
  
  p, ul, ol {
    color: #0a1551;
  }
  
  a {
    color: #4a90e2;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Streamlit widgets */
  .stTextInput input {
    border: 1px solid #4a90e2;
    background-color: #ffffff;  
  }
  
  
  .stButton>button:hover {
    text-color: #4a90e2;
    
  }
  
  .stSelectbox>div>div {
    border: 1px solid #4a90e2;
  }
  
  .stSelectbox>div>div>select {
    border: 1px solid #4a90e2;
  }
  
  .stSlider>div>div>div {
    background-color: #4a90e2;
  }
  
  .stNumberInput>div>input {
    background-color: #ffffff;
    color: #4a90e2;
    border: 1px solid #4a90e2;
  }
  
  .stDatePicker>div>input {
    background-color: #ffffff;
    color: #4a90e2;
    border: 1px solid #4a90e2;
  }
  
  /* DataFrames */
  .stDataFrame {
    background-color: #303030;
    color: #ffffff;
  }
  
  .stDataFrame thead tr th {
    background-color: #4a90e2;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
  }
  
  .stDataFrame tbody tr td {
    border-bottom: 1px solid #4a90e2;
  }
  
  /* Code blocks */
  .stCode {
    background-color: #303030;
    color: #ffffff;
    border: 1px solid #4a90e2;
    border-radius: 4px;
  }
  
  .stCode code {
    color: #4a90e2;
  }
  